@font-face {
	font-family: 'GT Walsheim Pro';
	font-style: normal;
	font-weight: 400;
	src: url('./gt-walsheim-pro-regular-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'GT Walsheim Pro';
	font-style: normal;
	font-weight: 600;
	src: url('./gt-walsheim-pro-medium-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'GT Walsheim Pro';
	font-style: normal;
	font-weight: 700;
	src: url('./gt-walsheim-pro-bold-webfont.woff2') format('woff2');
}
