@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply h-full;
		-webkit-tap-highlight-color: transparent;
	}

	[data-platform='ios'] a,
	[data-platform='ios'] img {
		@apply touch-callout-none;
	}

	body {
		@apply h-full bg-background-app text-copy-highcontrast-neutral;
	}

	#root {
		@apply h-full;
	}

	/* selection */
	::selection {
		@apply bg-interactive-element-active-primary text-copy-highcontrast-primary;
	}

	:root {
		/* this color is in oklch */
		--highlight: 62.46% 0.266 12.04;

		--mauve-1: 300 20% 99%;
		--mauve-2: 300 7.7% 97.5%;
		--mauve-3: 294 5.5% 95.3%;
		--mauve-4: 289 4.7% 93.3%;
		--mauve-5: 283 4.4% 91.3%;
		--mauve-6: 278 4.1% 89.1%;
		--mauve-7: 271 3.9% 86.3%;
		--mauve-8: 255 3.7% 78.8%;
		--mauve-9: 252 4% 57.3%;
		--mauve-10: 253 3.5% 53.5%;
		--mauve-11: 252 4% 44.8%;
		--mauve-12: 260 25% 11%;

		--alpha-1: hsla(300, 89.3%, 18.3%, 0.012);
		--alpha-2: hsla(300, 78.1%, 9%, 0.028);
		--alpha-3: hsla(300, 99.5%, 7.7%, 0.051);
		--alpha-4: hsla(270, 90.5%, 6.1%, 0.071);
		--alpha-5: hsla(270, 83%, 5.2%, 0.091);
		--alpha-6: hsla(300, 93.5%, 3.7%, 0.114);
		--alpha-7: hsla(270, 82.6%, 3.3%, 0.142);
		--alpha-8: hsla(255, 95.2%, 3.7%, 0.22);
		--alpha-9: hsla(255, 94.8%, 3.7%, 0.444);
		--alpha-10: hsla(253, 96.5%, 3.8%, 0.483);
		--alpha-11: hsla(247, 97.9%, 3.2%, 0.569);
		--alpha-12: hsla(261, 98.7%, 3%, 0.918);

		--purple-1: 260 100% 99%;
		--purple-2: 252 100% 99%;
		--purple-3: 254 100% 97%;
		--purple-4: 251 100% 96%;
		--purple-5: 251 100% 94%;
		--purple-6: 252 100% 90%;
		--purple-7: 252 100% 86%;
		--purple-8: 253 100% 79%;
		--purple-9: 255 100% 63%;
		--purple-10: 255 96% 60%;
		--purple-11: 254 77% 54%;
		--purple-12: 262 98% 18%;

		--red-1: 359 100% 99.4%;
		--red-2: 0 100% 98.4%;
		--red-3: 360 100% 96.8%;
		--red-4: 360 97.9% 94.8%;
		--red-5: 360 90.2% 91.9%;
		--red-6: 360 81.7% 87.8%;
		--red-7: 359 74.2% 81.7%;
		--red-8: 359 69.5% 74.3%;
		--red-9: 358 75% 59%;
		--red-10: 358 67.4% 54.6%;
		--red-11: 358 65% 47%;
		--red-12: 350 63% 24%;

		--amber-1: 40 60% 99%;
		--amber-2: 40 100% 96%;
		--amber-3: 44 100% 92%;
		--amber-4: 43 100% 87%;
		--amber-5: 42 100% 82%;
		--amber-6: 38 100% 76%;
		--amber-7: 36 86% 67%;
		--amber-8: 35 85% 55%;
		--amber-9: 39 100% 57%;
		--amber-10: 35 100% 55%;
		--amber-11: 30 100% 34%;
		--amber-12: 20 79% 17%;

		--teal-1: 168 71% 99%;
		--teal-2: 164 88% 97%;
		--teal-3: 164 76% 93%;
		--teal-4: 164 70% 90%;
		--teal-5: 165 59% 85%;
		--teal-6: 165 54% 77%;
		--teal-7: 166 50% 66%;
		--teal-8: 168 53% 51%;
		--teal-9: 167 65% 66%;
		--teal-10: 167 60% 63%;
		--teal-11: 172 72% 28%;
		--teal-12: 172 70% 12%;

		--background: 0 0% 100%;
		--foreground: 0 0% 0%;
	}

	.dark {
		--mauve-1: 246 6% 9%;
		--mauve-2: 240 5.1% 11.6%;
		--mauve-3: 241 5% 14.3%;
		--mauve-4: 242 4.9% 16.5%;
		--mauve-5: 243 4.9% 18.8%;
		--mauve-6: 244 4.9% 21.5%;
		--mauve-7: 245 4.9% 25.4%;
		--mauve-8: 247 4.8% 32.5%;
		--mauve-9: 252 4% 45.2%;
		--mauve-10: 247 3.4% 50.7%;
		--mauve-11: 253 4% 63.7%;
		--mauve-12: 256 6% 93.2%;

		--alpha-1: hsla(0, 0%, 0%, 0);
		--alpha-2: hsla(240, 76.7%, 91.2%, 0.031);
		--alpha-3: hsla(240, 86%, 95.8%, 0.061);
		--alpha-4: hsla(240, 91.8%, 94.7%, 0.087);
		--alpha-5: hsla(240, 91.5%, 95.8%, 0.113);
		--alpha-6: hsla(240, 92%, 93.8%, 0.148);
		--alpha-7: hsla(240, 94.8%, 95.3%, 0.191);
		--alpha-8: hsla(249, 98.1%, 95.2%, 0.273);
		--alpha-9: hsla(248, 97.6%, 96.2%, 0.416);
		--alpha-10: hsla(248, 95.5%, 96.6%, 0.477);
		--alpha-11: hsla(250, 98%, 98%, 0.615);
		--alpha-12: hsla(240, 93.9%, 99.6%, 0.931);

		--purple-1: 254 30% 11%;
		--purple-2: 259 48% 14%;
		--purple-3: 256 56% 21%;
		--purple-4: 257 63% 25%;
		--purple-5: 256 65% 29%;
		--purple-6: 256 70% 34%;
		--purple-7: 255 74% 43%;
		--purple-8: 256 100% 55%;
		--purple-9: 255 100% 63%;
		--purple-10: 253 100% 68%;
		--purple-11: 250 100% 77%;
		--purple-12: 251 100% 97%;

		--red-1: 350 24% 10%;
		--red-2: 357 34% 12%;
		--red-3: 357 43% 16%;
		--red-4: 356 47% 19%;
		--red-5: 356 51% 22%;
		--red-6: 357 55% 26%;
		--red-7: 357 60% 32%;
		--red-8: 358 65% 40%;
		--red-9: 358 75% 59%;
		--red-10: 358 86% 64%;
		--red-11: 358 100% 69%;
		--red-12: 353 90% 96%;

		--amber-1: 40 100% 6%;
		--amber-2: 40 100% 8%;
		--amber-3: 40 100% 10%;
		--amber-4: 40 100% 12%;
		--amber-5: 40 100% 15%;
		--amber-6: 40 100% 17%;
		--amber-7: 40 91% 22%;
		--amber-8: 40 100% 25%;
		--amber-9: 40 100% 57%;
		--amber-10: 40 100% 64%;
		--amber-11: 40 90% 50%;
		--amber-12: 40 94% 93%;

		--teal-1: 167 65% 66%;
		--teal-2: 163 80% 77%;
		--teal-3: 167 70% 48%;
		--teal-4: 166 78% 95%;
		--teal-5: 173 52% 6%;
		--teal-6: 176 73% 7%;
		--teal-7: 175 78% 9%;
		--teal-8: 173 85% 10%;
		--teal-9: 173 90% 12%;
		--teal-10: 173 97% 14%;
		--teal-11: 172 100% 17%;
		--teal-12: 170 100% 21%;

		--background: 0 0% 0%;
		--foreground: 0 0% 100%;
	}
}
